# Host port and domain
PORT = 5000
HOST = http://localhost:5000

# Allowed domains to make API calls to the server
ALLOWED_HOSTS = ["http://localhost:3000"]

# Secret keys for session and token encryption and other types of encryptions
JWT_SECRET_KEY = 

# Your Gmail account to send emails
GMAIL_USER = # Your email address
GMAIL_PASS = # Your app password (not your Google account password)
# Follow this instruction to create an app password: https://support.google.com/accounts/answer/185833?hl=en

# API key to authenticate requests to the server
API_KEY = 

# PostgreSQL connection URL
DB_URL = 

NODE_ENV = 

EMAIL_USER= #them mail vao day de gui mail cho hs/gv
EMAIL_PASS= #pass email
SMTP_HOST= #smtp.gmail.com dung dich vu nao de gui mail thi doi host voi port, (SendGrid, Mailgun,..)
SMTP_PORT= #587
EMAIL_SECURE= #false